# dependencies
node_modules/

# Next.js
.next/
out/

# env
.env
.env.local
.env*.local

# database
prisma/dev.db
prisma/dev.db-journal
*.db

# uploads
public/uploads/

# Tesseract OCR training data (downloaded automatically at runtime)
*.traineddata

# misc
.DS_Store
*.log
